In [21]:
import pandas as pd

In [22]:
df = pd.read_csv('data/data.csv')
df.head()

,Reviewer Name,Review Title,Place of Review,Up Votes,Down Votes,Month,Review text,Ratings
0,Kamal Suresh,Nice product,"Certified Buyer, Chirakkal",889.0,64.0,Feb 2021,"Nice product, good quality, but price is now r...",4
1,Flipkart Customer,Don't waste your money,"Certified Buyer, Hyderabad",109.0,6.0,Feb 2021,They didn't supplied Yonex Mavis 350. Outside ...,1
2,A. S. Raja Srinivasan,Did not meet expectations,"Certified Buyer, Dharmapuri",42.0,3.0,Apr 2021,Worst product. Damaged shuttlecocks packed in ...,1
3,Suresh Narayanasamy,Fair,"Certified Buyer, Chennai",25.0,1.0,NaN,"Quite O. K. , but nowadays the quality of the...",3
4,ASHIK P A,Over priced,NaN,147.0,24.0,Apr 2016,Over pricedJust â?¹620 ..from retailer.I didn'...,1

In [23]:
df['Ratings'].value_counts()

Ratings
5    5080
4    1746
1     769
3     615
2     308
Name: count, dtype: int64

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8518 entries, 0 to 8517
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Reviewer Name    8508 non-null   object
 1   Review Title     8508 non-null   object
 2   Place of Review  8468 non-null   object
 3   Up Votes         8508 non-null   float64
 4   Down Votes       8508 non-null   float64
 5   Month            8053 non-null   object
 6   Review text      8510 non-null   object
 7   Ratings          8518 non-null   int64
dtypes: float64(2), int64(1), object(5)
memory usage: 532.5+ KB

In [25]:
df.isna().sum()

Reviewer Name       10
Review Title        10
Place of Review     50
Up Votes            10
Down Votes          10
Month              465
Review text          8
Ratings              0
dtype: int64

In [26]:
drop_col = ['Reviewer Name','Place of Review','Month']

data = df.copy()
data.head()

,Reviewer Name,Review Title,Place of Review,Up Votes,Down Votes,Month,Review text,Ratings
0,Kamal Suresh,Nice product,"Certified Buyer, Chirakkal",889.0,64.0,Feb 2021,"Nice product, good quality, but price is now r...",4
1,Flipkart Customer,Don't waste your money,"Certified Buyer, Hyderabad",109.0,6.0,Feb 2021,They didn't supplied Yonex Mavis 350. Outside ...,1
2,A. S. Raja Srinivasan,Did not meet expectations,"Certified Buyer, Dharmapuri",42.0,3.0,Apr 2021,Worst product. Damaged shuttlecocks packed in ...,1
3,Suresh Narayanasamy,Fair,"Certified Buyer, Chennai",25.0,1.0,NaN,"Quite O. K. , but nowadays the quality of the...",3
4,ASHIK P A,Over priced,NaN,147.0,24.0,Apr 2016,Over pricedJust â?¹620 ..from retailer.I didn'...,1

In [27]:
data = data.drop(drop_col,axis=1)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8518 entries, 0 to 8517
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Review Title  8508 non-null   object
 1   Up Votes      8508 non-null   float64
 2   Down Votes    8508 non-null   float64
 3   Review text   8510 non-null   object
 4   Ratings       8518 non-null   int64
dtypes: float64(2), int64(1), object(2)
memory usage: 332.9+ KB

In [28]:
data = data.dropna()
data.isnull().sum()

Review Title    0
Up Votes        0
Down Votes      0
Review text     0
Ratings         0
dtype: int64

In [29]:
data.head()

,Review Title,Up Votes,Down Votes,Review text,Ratings
0,Nice product,889.0,64.0,"Nice product, good quality, but price is now r...",4
1,Don't waste your money,109.0,6.0,They didn't supplied Yonex Mavis 350. Outside ...,1
2,Did not meet expectations,42.0,3.0,Worst product. Damaged shuttlecocks packed in ...,1
3,Fair,25.0,1.0,"Quite O. K. , but nowadays the quality of the...",3
4,Over priced,147.0,24.0,Over pricedJust â?¹620 ..from retailer.I didn'...,1

In [30]:
import re
import nltk
from nltk.corpus import stopwords

In [31]:
stop_words = set(stopwords.words('english'))

def clean_text(text):
    # convert to string (safety)
    text = str(text)
    
    # 1. lowercase
    text = text.lower()
    
    # 2. remove special characters & numbers
    text = re.sub(r'[^a-z\s]', '', text)
    
    # 3. remove extra spaces
    text = re.sub(r'\s+', ' ', text).strip()
    
    # 4. remove stopwords (optional but included)
    text = ' '.join(word for word in text.split() if word not in stop_words)
    
    return text

In [32]:
data['clean_review'] = df['Review text'].apply(clean_text)

In [33]:
data.head()

,Review Title,Up Votes,Down Votes,Review text,Ratings,clean_review
0,Nice product,889.0,64.0,"Nice product, good quality, but price is now r...",4,nice product good quality price rising bad sig...
1,Don't waste your money,109.0,6.0,They didn't supplied Yonex Mavis 350. Outside ...,1,didnt supplied yonex mavis outside cover yonex...
2,Did not meet expectations,42.0,3.0,Worst product. Damaged shuttlecocks packed in ...,1,worst product damaged shuttlecocks packed new ...
3,Fair,25.0,1.0,"Quite O. K. , but nowadays the quality of the...",3,quite k nowadays quality corks like years back...
4,Over priced,147.0,24.0,Over pricedJust â?¹620 ..from retailer.I didn'...,1,pricedjust retaileri didnt understand wat adva...

In [34]:
def label_sentiment(rating):
    if rating <=2:
        return 'Negative'
    elif rating ==3:
        return 'Neutral'
    else:
        return 'Positive'

In [35]:
data['sentiment']= data['Ratings'].apply(label_sentiment)
data.head()

,Review Title,Up Votes,Down Votes,Review text,Ratings,clean_review,sentiment
0,Nice product,889.0,64.0,"Nice product, good quality, but price is now r...",4,nice product good quality price rising bad sig...,Positive
1,Don't waste your money,109.0,6.0,They didn't supplied Yonex Mavis 350. Outside ...,1,didnt supplied yonex mavis outside cover yonex...,Negative
2,Did not meet expectations,42.0,3.0,Worst product. Damaged shuttlecocks packed in ...,1,worst product damaged shuttlecocks packed new ...,Negative
3,Fair,25.0,1.0,"Quite O. K. , but nowadays the quality of the...",3,quite k nowadays quality corks like years back...,Neutral
4,Over priced,147.0,24.0,Over pricedJust â?¹620 ..from retailer.I didn'...,1,pricedjust retaileri didnt understand wat adva...,Negative

In [36]:
data['sentiment'].value_counts()

sentiment
Positive    6822
Negative    1071
Neutral      615
Name: count, dtype: int64

In [48]:
data.to_csv('clean_data',index=False)

In [37]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer

In [38]:
X = data['clean_review']     # text data
y = data['sentiment']

In [39]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, 
    test_size=0.2, 
    random_state=42,
    stratify=y
)

In [40]:
tfidf = TfidfVectorizer(
    max_features=5000,
    ngram_range=(1, 2)
)

In [49]:
X_train_tfidf = tfidf.fit_transform(X_train)
X_test_tfidf = tfidf.transform(X_test)

In [45]:
import mlflow
import mlflow.sklearn
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score, f1_score, precision_score, recall_score

In [46]:
with mlflow.start_run(run_name="NB_baseline"):

    # log parameters
    mlflow.log_param("model", "MultinomialNB")
    mlflow.log_param("vectorizer", "TF-IDF")
    mlflow.log_param("ngram_range", "(1,1)")
    mlflow.log_param("alpha", 1.0)

    
    # train model (your existing code)
    nb_model = MultinomialNB()
    nb_model.fit(X_train_tfidf, y_train)

    # predictions
    y_pred = nb_model.predict(X_test)

    accuracy = accuracy_score(y_test, y_pred)
    f1 = f1_score(y_test, y_pred, average="weighted")
    precision = precision_score(y_test, y_pred, average="weighted")
    recall = recall_score(y_test, y_pred, average="weighted")
    # metrics
    mlflow.log_metric("accuracy", accuracy)
    mlflow.log_metric("f1_score", f1)
    mlflow.log_metric("precision", precision)
    mlflow.log_metric("recall", recall)

    # log model
    mlflow.sklearn.log_model(nb_model, "sentiment_model")

ValueError: could not convert string to float: 'badread'